.header .navbar-collapse {
  flex-direction: row-reverse;
}

.header .navbar-collapse .nav-item {
  position: relative;
}

.header .navbar-collapse .nav-item.active::after {
  width: 100%;
}

.header .navbar-collapse .nav-item:hover::after {
  width: 100%;
}

.header .navbar-collapse .nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.header .navbar-collapse .nav-item .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 20px 10px;
  font-weight: 600;
}

.slider-home .carousel-item-ow {
  position: relative;
}

.slider-home .carousel-item-ow img {
  width: 100%;
}

.slider-home .video-play-slider {
  width: 80px;
  height: 80px;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  line-height: 80px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

.search-home {
  margin-bottom: 50px;
  margin-top: -20px;
  position: relative;
}

.search-home .form-search {
  background: #ec7532;
  display: flex;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0 -10px;
}

.search-home .form-search .select-item {
  border-right: 1px solid #fff;
}

.search-home .form-search .select-item:last-child {
  border-right: none;
}

.search-home .form-search select {
  background: transparent;
  border: none;
  padding: 10px;
  min-width: 220px;
  color: #fff;
  font-weight: 600;
}

.search-home .form-search .btn-booking {
  color: #fff;
  font-weight: 600;
}

.btn-all {
  color: #ec7532;
  text-transform: uppercase;
}

.btn-all.active {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
}

.btn-all-one {
  background: linear-gradient(to right, #fbbd61, #ec7532);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px 25px;
  color: #fff;
  font-weight: 600;
}

.btn-all-one:hover {
  color: #fff;
  text-transform: all ease 0.5s;
}

.listmovie {
  margin-bottom: 80px;
}

.listmovie .nav-pills {
  border-bottom: none;
  justify-content: center;
  margin-bottom: 30px;
}

.content-show .movie-item {
  padding: 10px;
}

.content-show .movie-item:hover .movie-img {
  box-shadow: none;
}

.content-show .movie-item:hover .movie-img .icon-play {
  opacity: 1;
  cursor: pointer;
}

.content-show .movie-item:hover .movie-info .btn-buyticket {
  visibility: visible;
  cursor: pointer;
}

.content-show .movie-item .movie-img {
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.content-show .movie-item .movie-img img {
  width: 100%;
  height: 300px;
}

.content-show .movie-item .movie-img .icon-play {
  opacity: 0;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.content-show .movie-item .movie-img .icon-play i {
  color: #fbbd61;
  border: 2px solid #fbbd61;
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content-show .movie-item .movie-img .review {
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  color: #ec7532;
}

.content-show .movie-item .movie-img .review .icon-start {
  color: #fbbd61;
}

.content-show .movie-item .movie-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.content-show .movie-item .movie-info {
  padding-top: 10px;
  position: relative;
}

.content-show .movie-item .movie-info .namemovie {
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.content-show .movie-item .movie-info .timeshow {
  font-size: 13px;
  font-weight: 400;
  color: #4a4a4a;
}

.content-show .movie-item .movie-info .btn-buyticket {
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content-show .movie-item .movie-info .btn-buyticket:hover .icon-down {
  animation: arrowY 1s infinite;
  -webkit-animation: arrowY 1s infinite;
}

.cinema-block .showtime-theater {
  padding: 0;
}

.cinema-block .cinema-inner {
  border: 1px solid #dee2e6;
  padding-left: 10px;
  margin-bottom: 80px;
}

.cinema-block .cinema-inner .show-logo {
  border-right: 1px solid #dee2e6;
  margin: 0 -15px;
}

.cinema-block .cinema-inner .show-logo .nav-pills .nav-link {
  padding: 20px;
  opacity: 0.5;
  position: relative;
}

.cinema-block .cinema-inner .show-logo .nav-pills .nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #dee2e6;
  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.cinema-block .cinema-inner .show-logo .nav-pills .nav-link:hover {
  opacity: 1;
}

.cinema-block .cinema-inner .show-logo .nav-pills .nav-link.active {
  background-color: transparent;
  opacity: 1;
}

.cinema-block .cinema-inner .listmovie-content .theater-item {
  border-bottom: 1px solid #dee2e6;
  padding: 20px 0;
  margin: 0 15px;
}

.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text {
  font-size: 12px;
}

.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text p {
  color: #ec7532;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0;
}

.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text p span {
  color: #666565;
}

.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text a {
  color: #ec7532;
  font-weight: 700;
}

.cinema-block .cinema-inner .listmovie-content .theater-item .theater-text a:hover {
  text-decoration: underline;
}

.cinema-block .cinema-inner .showtime-movie {
  border-left: 1px solid #dee2e6;
  padding: 15px;
}

.cinema-block .cinema-inner .showtime-movie .showtime-movie-it {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
}

.cinema-block .cinema-inner .showtime-movie .movie-img {
  width: 80px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.cinema-block .cinema-inner .showtime-movie .wrap-infor p {
  font-weight: bold;
  margin-bottom: 0;
}

.cinema-block .cinema-inner .showtime-movie .wrap-infor p .age {
  background-color: #069c06;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 5px;
  padding: 2px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cinema-block .cinema-inner .showtime-movie .wrap-infor span {
  font-size: 12px;
  color: #9b9b9b;
}

.cinema-block .cinema-inner .showtime-movie .block-time {
  margin-left: 15px;
}

.cinema-block .cinema-inner .showtime-movie .block-time .time-movie {
  border: 1px solid #dee2e6;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: center;
}

.cinema-block .cinema-inner .showtime-movie .block-time .time-movie p {
  color: #9b9b9b;
}

.cinema-block .cinema-inner .showtime-movie .block-time .time-movie p span {
  color: #069c06;
  font-size: 18px;
  font-weight: 700;
}

.cinema-block .cinema-inner .showtime-movie .ttl {
  font-size: 16px;
  font-weight: bold;
}

.block-news {
  margin-bottom: 50px;
}

.block-news .nav-pills {
  justify-content: center;
  margin-bottom: 20px;
}

.block-news .block-news-img {
  margin-bottom: 15px;
}

.block-news .block-news-img .img-news {
  height: 300px;
}

.block-news .block-news-img .ttl {
  color: #000;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  margin-top: 5px;
}

.block-news .block-news-img .txt {
  font-size: 13px;
  margin-bottom: 10px;
}

.block-news .block-news-img .icon-comment {
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.block-news .block-news-img .icon-comment .fa-thumbs-up {
  margin-right: 5px;
}

.block-news .block-news-img .icon-comment img {
  height: 15px;
  margin-right: 5px;
}

.block-news .block-new-col .col-news {
  margin-bottom: 10px;
}

.block-news .block-new-col .col-news::hover {
  color: #ec7532;
}

.block-news .block-new-col .col-news img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 50px;
  height: 50px;
}

.block-news .block-new-col .col-news .ttl {
  color: #000;
  width: calc(100% - 50px);
  font-size: 13px;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.block-news .btn-read-more {
  border: 1px solid #949494;
  color: #949494;
  padding: 7px 25px;
  text-align: center;
  outline: none;
}

.block-news .btn-read-more:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.footer .footer-inner {
  background: url(/images/backapp.jpg) no-repeat center;
  background-size: cover;
  padding: 120px 0px;
}

.footer .footer-inner .footer-left {
  padding-top: 60px;
  color: #fff;
}

.footer .footer-inner .footer-left .ttl-2 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}

.footer .footer-inner .footer-left .btn-dowload {
  margin: 30px 0;
}

.footer .footer-inner .footer-left .txt-update a {
  color: #fff;
  text-decoration: underline;
}

.footer .footer-inner .footer-left .txt-update a:hover {
  color: #ec7532;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.footer .footer-inner .footer-right {
  position: relative;
  text-align: center;
}

.footer .footer-inner .footer-right .img-wrap {
  width: 44%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.footer .footer-inner .footer-right .app-img {
  position: absolute;
  left: 30%;
  bottom: -20%;
  top: 1%;
  width: 40%;
  text-align: center;
}

.footer .footer-inner .footer-right .app-img img {
  height: auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.footer .footer-infor {
  background-color: #101010;
  color: #4a4a4a;
  padding: 50px 0;
}

.footer .footer-infor .ttl-4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer .footer-infor p {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.footer .footer-infor p a {
  color: #4a4a4a;
}

.footer .footer-infor .col {
  margin-bottom: 10px;
}

.footer .footer-infor .col img {
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer .footer-infor .social {
  text-align: center;
}

.footer .footer-infor .social a {
  display: inline-block;
  margin-right: 10px;
}

.footer .footer-infor .social img {
  height: 30px;
  width: auto;
}

.footer .f-infor-bottom {
  border-top: 1px solid #4a4a4a;
  padding-top: 20px;
  margin-top: 50px;
}

.footer .f-infor-bottom .ttl-4 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.footer .f-infor-bottom p {
  color: #949494;
  font-size: 13px;
  justify-content: start;
}

p {
  margin-bottom: 0px;
}

a:hover {
  text-decoration: none;
}

@keyframes arrowY {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
  50% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */