.inner-bg-user {
    background: url(../../../assets/images/bg-login.jpg)no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .form-user {
        background: #fff;
        // box-shadow: 0 10px 15px rgb(0,0,0,0.3);
        border: 1px solid #eee;
        width: 500px;
        padding: 35px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        .ttl {
            color: #ec7532;
            font-weight: 600;
            text-align: center;
        }
        .form-group {
            position: relative;
            .form-label {
                color: #707070;
                margin-bottom: 0px;
                position: relative;
                &::before {
                    content: '*';
                    color: #f5222d;
                    margin-right: 4px;
                }
            }
            .user {
                color: #E9E9E9;
                position: absolute;
                right: 15px;
                top: 50%;
            }
            .form-control {
                border: none;
                border-bottom: 1px solid #c5cdc4;
                border-radius: 0;
                padding: 5px 30px 5px 10px;
                &:focus {
                    box-shadow: none;
                    border-bottom: 1px solid #ec7532;
                }
            }
        }
        .btnsubmit, .backhome  {
            background: #ec7532;
            border: 1px solid #ec7532;
            color: #fff;
            text-align: center;
            display: block;
            min-width: 180px;
            padding: 7px;
            margin: 25px auto 0;
        }
        .backhome {
            background: #fff;
            color: #000;
            display: inline-block;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            min-width: 180px;
            margin-top: 0;
        }
        .registernow {
            text-align: center;
            p {
                margin-bottom: 20px;
                a {
                    color: #ec7532;
                }
            }
        }
        
    }
}