//Background color
$primary: #fff;
$secondary: #ec7532;
$hrprimary: #ebebec;

//Text color 
$cprimary: #000;
$csecondary: #069c06;
$cgray: #9b9b9b;
$corangen: #ec7532;

//Font-size color
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 25px;
$h5: 24px;
$h6: 20px;
$subtitle1: 18px;
$subtitle2: 16px;
$body1: 14px;
$body2: 12px;

//Font-weight 
$bolder: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

